.git
.gitignore
*.md
README.md
HUONG_DAN_HOP_DONG.md
manhdung.md
.vscode
.idea
vendor
node_modules
BaseCode/vendor
BaseCode/node_modules
public/build
BaseCode/public/build
storage/logs/*
BaseCode/storage/logs/*
BaseCode/storage/framework/cache/data/*
BaseCode/storage/framework/sessions/*
BaseCode/storage/framework/views/*
.env
BaseCode/.env
BaseCode/.env.*
!BaseCode/.env.example
docker-compose.yml
Dockerfile
.dockerignore
